// Importing FontAwesome for Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* { box-sizing: border-box; }

/* PALETTE */

$blue : #61DAFB;
$darkBlue : #326F80; 
$black : #000000;
$white : #FFFFFF;

/* EXTRA VARIANTS */

$default-font: 'Josefin Sans', Helvetica, sans-serif;
$default-transition : all 1s ease-in-out;

body {
  font-family: $default-font;
  background-color: $black;
  background-image: url('images/reactbank-bg.jpg');
  background-size: cover;
  background-position: center;
  transition: $default-transition;
}

.App {
  text-align: center;
  // background-image: url('images/reactbank-bg.jpg');
  // background-size: cover;
  // background-position: center;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: $white;
  transition: $default-transition;
}

.App-header, .screen-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: $white;
  transition: $default-transition;
}

.App-header img, .screen-alert img {
  width: 70%;
}

.login-form img {
  margin-top: 120px;
  width: 75%;
}

.apply-form img {
  margin-top: 120px;
  width: 75%;
}

.about img {
  margin: auto;
  margin-top: 120px;
  width: 75%;
}

.btn-primary {
  background-color: $blue;
  color: $darkBlue;
  padding: 1px;
  width: 70%;
}

.btn-primary:hover {
  background-color: $darkBlue;
  color: $blue;
}

.form-errors {
  display: none;
  font-size: small;
  color: red;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

@media only screen and (max-width: 600px) {
  .screen-alert {
    display: none;
  }

  .App-header {
    justify-content: center;
  }

  .login-form {
    display: none;
    //width: 100%;
    background: rgba($color: #000000, $alpha: 0.54);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: $default-transition;

    form button {
      width: 100%;
    }
  }

  .login-form form {
    width: 75%;
    display: flex;
    height: 27%;
    flex-flow: column;
    justify-content: space-between;
    transition: $default-transition;
  }

  .login-form_footer {
    margin-bottom: 26px;
    width: 75%;
    text-align: right;
  }

  .login-form_footer a {
    padding: 5px;
    text-decoration: underline;
    color: #FFFFFF;
  }

  .apply-form {
    display: none;
    //width: 100%;
    background: rgba($color: #000000, $alpha: 0.54);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: $default-transition;

    form {
      width: 75%;
      display: flex;
      height: 27%;
      flex-flow: column;
      justify-content: space-between;
      transition: $default-transition;
    }

    form input.half {
      width: 50%;
    }

    form button {
      width: 100%;
    }
  }

  .about {
    display: none;
    //width: 100%;
    background: rgba($color: #000000, $alpha: 0.54);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: $default-transition;

    section {
      width: 75%;
      display: flex;
      height: 27%;
      flex-flow: column;
      justify-content: space-between;
      transition: $default-transition;
    }
  }

  .footer-copyright {
    li {
      list-style: none;
      // display: flex;
      width: 100%;
      font-size: x-small;
    }
  }

  .modal-container {
    display: none;
    background-image: url('images/reactbank-bg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 50px;
  }
  
  .modal-box {
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.54);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    padding: 10px;

    p {
      margin: 0;
    }
  }

  // Dashboard elements
  .dashboard-container {
    display: none;
    width: 100%;
    background-color: $white;
  }

  nav {
    background-color: $black;
    
    .navbar-toggler {
      color: $white;
    }
  }

  // Dasboard Elements

  section.account {
    display: none;
  }

  .dashboard-container section {
    color: $black;

    article.actions button {
      margin: 0px 5px;
    }

    // HOME

    article.transactions ul {
      width: 90%;
      margin: auto;
      padding: 0;
    }

    article.transactions li {
      list-style: none;
      text-align: left;
      border-bottom: 1px solid lightgray;
    }

    // ACCOUNT 

    article.account-information-update {
      display: none;
      width: 90%;
      margin: auto;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 600px) {
  .login-form, .apply-form, .about, .modal-container, .dashboard-container {
    display: none !important;
  }

  .App-header {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .App{
    width: 1200px;
    margin: auto;
  }
}